{% extends 'aplicacion/layout.html' %}
{% block content %}
<table class="table table-sm table-bordered border-dark">
    <thead class="table-dark">
        <tr>
          <th scope="col">Ticket</th>
          <th scope="col">Usuario</th>
          <th scope="col">Categoria</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Fecha apertura</th>
          <th scope="col">Estado</th>
          <th scope="col">Solucion</th>
          <th scope="col">Fecha cierre</th>
        </tr>
    </thead>
      <tbody class="table-group-divider">
        {% for ti in tickets %}
        <tr>
          <th>{{ti}}</th>
          <td>{{ti.user}}</td>
          <td>{{ti.category}}</td>
          <td>{{ti.content}}</td>
          <td>{{ti.timestamp}}</td>
          <td>{{ti.state}}</td>
          <td>{{ti.solution}}</td>
          <td>{{ti.timeclosing}}</td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}